#camera-select,
#resolution-group {
  padding: 20px;
}
summary{
  background-color: #eee;
}
#track-capabilities {
  padding: 20px;
  column-count: 3;
  column-gap: 0.3rem;
}

footer {
  background: #333e5a;
  color: #fff;
  text-align: center;
}

footer a {
  color: #fff;
}