textarea {
  width: 100%;
  height: 240px;
}
label{
  padding-right: 1.2rem;
}
select {
  padding: 1rem;
}
details {
  margin: 1rem;
}
details select {
  padding: 0.33rem;
}
summary{
  background-color: #eee;
  padding: 1rem;
}
#track-capabilities form{
  padding: 20px;
  column-count: 3;
  column-gap: 0.3rem;
}

video, 
canvas{
  display:block;
  margin: 2rem;
}

footer {
  background: #333e5a;
  color: #fff;
  text-align: center;
}

footer a {
  color: #fff;
}