textarea {
    width: 100%;
    height: 240px;
}
label {
    padding-right: 1.2rem;
}
select {
    padding: 1rem;
}
button {
    font-size: 1.61rem;
}

media-menu{
    display: block;
}
media-element {
    display: inline-block;
    margin: 2rem;
}
/* hack for iPhone video stop streaming if not in view */
media-element video{
    width: 1px;
    height: 1px;
}
media-element canvas.webGLCanvas,
media-element canvas.outCanvas{
        display: none;
}
media-element[showwebgl] canvas.webGLCanvas,
media-element[showoutcanvas] canvas.outCanvas{
        display: block;
}

details select {
    padding: 0.33rem;
}
summary {
    background-color: #eee;
    padding: 1rem;
}
output {
    white-space: pre;
}
media-controls form {
    padding: 20px;
    column-count: 3;
    column-gap: 0.3rem;
}
media-controls form fieldset {
    break-inside: avoid; 
    page-break-inside: avoid;
}
@media (max-width: 768px) {
    media-controls form {
        padding: 5px;
        column-count: 1;
    }
}

video,
canvas {
    display: block;
    border: 1px solid mediumslateblue;
    position: relative;
}
video.keep-on-screen{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border: none;
}

footer {
    background: #333e5a;
    color: #fff;
    text-align: center;
}

footer a {
    color: #fff;
}
