body {
    font-family: Verdana, Geneva, sans-serif;
}

textarea {
    width: 100%;
    height: 240px;
}

label {
    padding-right: 1.2rem;
}

select {
    padding: 0.57rem;
}

option {
    word-wrap: normal !important;
    white-space: normal;
}

button {
    font-size: 1.61rem;
    vertical-align: middle;
}

h5 {
    margin: 0;
}

media-menu {
    display: block;
    margin-bottom: 1rem
}
media-menu select{
    width: min(100%, 30rem);
}

media-element {
    display: inline-grid;
    grid-template-columns: min-content;
    grid-template-areas:
        "video"
        "audio"
        "controls";
    padding: 1rem;
    background-color: #e2dff7;
}

media-element h4 {
    grid-area: caption;
}

media-element div:first-child {
    grid-area: video;
    display: grid;
    grid-template-columns: 1.5rem 4rem 1.5rem 4rem 1.5rem 1fr 2.5rem 2.5rem;
    align-items:center;
    align-content:space-evenly;
    justify-content: center;
    justify-items: start;
}
media-element div:first-child h5,
media-element div:nth-child(2) h5{
    grid-column: 1/9;
}
media-element div:first-child button,
media-element div:first-child input,
media-element div:first-child label,
media-element div:nth-child(2) button {
    grid-column: span 1;
}
media-element div:first-child select {
    grid-column: 1/7;
    width: 100%;
}
media-element div:first-child video, media-element div:first-child canvas {
    grid-column: 1/9;
}
media-element div:nth-child(2) {
    grid-area: audio;
    display: grid;
    grid-template-columns: 1fr 2.5rem 2.5rem 2.5rem;
}
media-element div:nth-child(3) {
    grid-area: controls;
}
media-element meter{
    width: 100%;
}
media-element button{
    width: 2.5rem;
}


/* hack for iPhone video stop streaming if not in view */
media-element video {
    width: 1px;
    height: 1px;
}

media-element canvas.webGLCanvas,
media-element canvas.outCanvas {
    display: none;
}

media-element[showwebgl] canvas.webGLCanvas,
media-element[showoutcanvas] canvas.outCanvas {
    display: block;
}

media-element div {
    align-items: center;
}

media-element #toggle-audio {
    display: inline-block;
    transform: scale(-1);
}

media-controls {
    display: block;
    padding: 0.62rem;
    background: #f5f4fc;
    /* #f4f4f4;  #afb9c8; */
    border: 1px solid #ccc;
    border-radius: 5px;
}

details select {
    padding: 0.33rem;
}

summary {
    padding: 1rem;
}

media-controls form {
    column-count: 3;
    column-gap: 0.3rem;
}

media-controls form fieldset {
    break-inside: avoid;
    page-break-inside: avoid;
}

media-controls output {
    white-space: pre;
    font-family: monospace;
}

media-controls output[contenteditable] {
    background-color: #fff;
}

@media (max-width: 768px) {
    media-element {
        padding: 0;
    }

    media-controls form {
        padding: 5px;
        column-count: 1;
    }
}

@media (min-width: 768px) and (max-width: 1800px) {
    media-controls form {
        padding: 5px;
        column-count: 2;
    }
}

video,
canvas {
    display: block;
    border: 1px solid mediumslateblue;
    position: relative;
}

video.keep-on-screen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border: none;
}

footer {
    background: #333e5a;
    color: #fff;
    text-align: center;
}

footer a {
    color: #fff;
}